<!--CartItem-->
@using Shopping_Web.Models.CartItemView
@model CartItemViews 

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a asp-controller="Home" asp-action="Home">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					@if (Model.CartItems.Count > 0)
					{
						foreach(var item in Model.CartItems)
						{
							<tr>
								<td class="cart_product">
									<a href=""><img src="~/media/Products/@item.ImageUrl" alt=""></a>
								</td>
								<td class="cart_description">
									<h4><a href="">@item.ProductName</a></h4>
								</td>
								<td class="cart_price">
									<p>@item.Price.ToString("#,##0 VND")</p>
								</td>
								<td class="cart_quantity">			
										<a class="btn btn-default btn-sm" asp-controller="Cart" asp-action="Increase" asp-route-ProductId="@item.ProductId"> + </a>
										<input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
										<a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Decrease" asp-route-ProductId="@item.ProductId"> - </a>
										<a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Remove" asp-route-ProductId="@item.ProductId"> Remove </a>
								</td>
								<td class="cart_total">
									<p class="cart_total_price">@Model.CartItems.Where(i => i.ProductId == @item.ProductId).Sum(i => i.Quantity*i.Price).ToString()</p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
								</td>
								
							</tr>
							<tr>
								<td>
									<div class="form-group">
										<label>Tỉnh Thành Phố</label>
										<select class="css_select" id="tinh" name="tinh" title="Chọn Tỉnh Thành">
											<option value="0">Tỉnh Thành</option>
										</select>
									</div>
									<div class="form-group">
										<label>Quận Huyện</label>
										<select class="css_select" id="quan" name="quan" title="Chọn Quận Huyện">
											<option value="0">Quận Huyện</option>
										</select>
									</div>

									<div class="form-group">
										<label>Phường Xã</label>
										<select class="css_select" id="phuong" name="phuong" title="Chọn Phường Xã">
											<option value="0">Phường Xã</option>
										</select>
									</div>
									<button type="button" class="btn btn-info add-shipping">Tính Phí shipp</button>
								</td>
							</tr>
						}
						<tr rowspan="6">
							<td colspan="6">Grand Total :<p class="cart_total_price">@Model.GrandToTal.ToString()</p></td>
							<td> <a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Clear"> Clear </a></td>
							@if(User.Identity ?. IsAuthenticated ?? false)
							{
								<td> <a class="btn btn-primary btn-sm" asp-controller="CheckOut" asp-action="CheckOut"> Checkout </a></td>
							}
						</tr>		
					}
					else
					{
						<tr>
							<td colspan="5"><h4>Your Cart is Empty</h4></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->
@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$('.add-shipping').click(function(){
			var tinh = $('#tinh').find('option:selected').text();
			var quan = $('#quan').find('option:selected').text();
			var phuong = $('#phuong').find('option:selected').text();

			if(tinh == null || quan == null || phuong == null){
				alert('không để trống Tỉnh , Quận , Phường')
			}else{
				$.ajax({
					type: "POST",
					url : "@Url.Action("GetShiping" , "Cart")",
					data : {tinh : tinh , quan : quan , phuong : phuong} ,

					success : function(result){
						if(result){
							// location.reload();
						}
					}
				})
			}
		})
		$(document).ready(function() {
			//Lấy tỉnh thành
			$.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm',function(data_tinh){
				if(data_tinh.error==0){
				   $.each(data_tinh.data, function (key_tinh,val_tinh) {
					  $("#tinh").append('<option value="'+val_tinh.id+'">'+val_tinh.full_name+'</option>');
				   });
				   $("#tinh").change(function(e){
						var idtinh=$(this).val();
						//Lấy quận huyện
						$.getJSON('https://esgoo.net/api-tinhthanh/2/'+idtinh+'.htm',function(data_quan){
							if(data_quan.error==0){
							   $("#quan").html('<option value="0">Quận Huyện</option>');
							   $("#phuong").html('<option value="0">Phường Xã</option>');
							   $.each(data_quan.data, function (key_quan,val_quan) {
								  $("#quan").append('<option value="'+val_quan.id+'">'+val_quan.full_name+'</option>');
							   });
							   //Lấy phường xã
							   $("#quan").change(function(e){
									var idquan=$(this).val();
									$.getJSON('https://esgoo.net/api-tinhthanh/3/'+idquan+'.htm',function(data_phuong){
										if(data_phuong.error==0){
										   $("#phuong").html('<option value="0">Phường Xã</option>');
										   $.each(data_phuong.data, function (key_phuong,val_phuong) {
											  $("#phuong").append('<option value="'+val_phuong.id+'">'+val_phuong.full_name+'</option>');
										   });
										}
									});
							   });

							}
						});
				   });

				}
			});
		 });
	</script>
}
