@model IEnumerable<AppUser>
@{
    ViewData["title"] = "User List";
}
<h3>User List</h3>
<a class="btn-warning btn-sm" asp-controller="User"  asp-action="Create" asp-area="Admin">Add User</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }
        @foreach (var item in Model)
        {

            <tr class="Order-Admin">
                <th scope="row">@(++count)</th>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td></td>
                <td>
                    <a asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-warning btn-sm">
                        Update
                    </a>
                    <form asp-area="Admin" asp-controller="User" asp-action="Delete" method="post" style="display:inline">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>