@model IEnumerable<Product>
<!--Phần bên trái của Trang bao gồm Caterory,Brands , Price...-->
<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>
<!--phần hiển thị sản phẩm 9 cột bên phải-->
<div class="col-sm-9 padding-right">
	<!--features_items-->
	<div class="features_items">
		<h2 class="title text-center">Features Items</h2>
		<!--phần hiển thị ra 1 sản phẩm chiếm 4 -->
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img src="~/media/Products/@item.ImageUrl" alt="@item.ProductName"/>
							<h2>@item.Price.ToString("#,##0 VND")</h2>
							<p>@item.ProductName</p>
							<p>Danh Mục :@item.Category.CategoryName</p>
							<p>Thương Hiệu:@item.Brand.BrandName</p>
							<a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-ProductId="@item.ProductId"><i class="fa fa-shopping-cart"></i>Add to cart</a>
						</div>
						@* <div class="product-overlay">
							<div class="overlay-content">
								<h2>@item.Price</h2>
								<p>@item.ProductName</p>
								<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
							</div>
						</div> *@
					</div>
				</div>
			</div>
		}
	</div><!--features_items-->
</div>